.container {
  width: 920px;
  height: 1px;
  position: relative;
  display: none;
  max-width: 100%;
}
.seamless-connectivity-with {
  align-self: stretch;
  position: relative;
  letter-spacing: -2px;
  line-height: 68px;
}
.at-everselink-we {
  margin: 0;
  align-self: stretch;
  height: 117px;
  position: relative;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-child {
  width: 126px;
  height: 42px;
}
.at-everselink-we-believe-in-t-parent,
.seamless-connectivity-with-no-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.at-everselink-we-believe-in-t-parent {
  width: 471px;
  gap: 14px;
  font-size: 15.5px;
  color: #292929;
}
.seamless-connectivity-with-no-parent {
  width: 488px;
  gap: 66.2px;
  min-width: 488px;
}
.container-icon {
  align-self: stretch;
  height: 540px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.container-wrapper,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.container-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 19.5px 0 0;
  box-sizing: border-box;
  min-width: 390px;
}
.frame-group {
  width: 1200px;
  flex-direction: row;
  gap: 112px;
}
.gomoworld-website-imagefiles-d-icon {
  height: 488.6px;
  flex: 1;
  position: relative;
  border-radius: 24px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 445px;
  min-height: 489px;
}
.heading-3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 41.4px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.everselink-revolutionizes-the {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 20.7px;
}
.everselink-ensures-that {
  margin: 0;
  width: 381.4px;
  position: relative;
  font-size: 15.8px;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.everselink-revolutionizes-the-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
  font-size: 15.2px;
  color: #292929;
}
.background-child {
  width: 153px;
  height: 42px;
}
.background1,
.frame-wrapper,
.gomoworld-website-imagefiles-d-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.background1 {
  width: 474px;
  border-radius: 24px;
  background-color: #f5f5f5;
  flex-direction: column;
  padding: 63.3px 40px 178.4px;
  box-sizing: border-box;
  gap: 24px;
  min-width: 474px;
}
.frame-wrapper,
.gomoworld-website-imagefiles-d-parent {
  flex-direction: row;
}
.gomoworld-website-imagefiles-d-parent {
  flex: 1;
  gap: 27px;
}
.frame-wrapper {
  width: 1199.5px;
  padding: 0 7px;
  box-sizing: border-box;
  font-size: 32px;
}
.go {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 27px;
  font-weight: 700;
  font-family: inherit;
}
.background2 {
  flex: 1;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 269px 20px 268px;
  box-sizing: border-box;
  background-image: url(/public/background1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 386px;
  max-width: 100%;
}
.coonect {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 27px;
  font-weight: 700;
  font-family: inherit;
}
.gomoworld-website-imagefiles-d {
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 268px 71px 269px;
  box-sizing: border-box;
  background-image: url(/public/gomoworld-website-imagefiles-d204webp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 564px;
  max-width: 100%;
}
.background-parent {
  flex: 1;
  flex-direction: row;
  gap: 27px;
}
.background-parent,
.frame-container,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  width: 1199.5px;
  flex-direction: row;
  padding: 0 7px;
  box-sizing: border-box;
  font-size: 96px;
}
.frame-parent {
  width: 1226.8px;
  flex-direction: column;
  gap: 79.9px;
}
.background,
.background-inner {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.background-inner {
  width: 1893px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.background {
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 45.4px;
  gap: 61px;
  text-align: left;
  font-size: 53.9px;
  color: #9f0132;
  font-family: Montserrat;
}
.background-wrapper,
.homepage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.background-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 80.6px;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-group {
    gap: 56px;
  }
  .background,
  .background-wrapper {
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .background-wrapper {
    padding-bottom: 34px;
  }
}
@media screen and (max-width: 1050px) {
  .seamless-connectivity-with {
    font-size: 43px;
    line-height: 54px;
  }
  .seamless-connectivity-with-no-parent {
    flex: 1;
  }
  .frame-group {
    flex-wrap: wrap;
  }
  .heading-3 {
    font-size: 26px;
    line-height: 33px;
  }
  .background1 {
    flex: 1;
  }
  .gomoworld-website-imagefiles-d-parent {
    flex-wrap: wrap;
  }
  .coonect,
  .go {
    font-size: 48px;
    line-height: 16px;
  }
  .gomoworld-website-imagefiles-d {
    flex: 1;
  }
  .background-parent {
    flex-wrap: wrap;
  }
  .background {
    gap: 30px;
  }
  .background-wrapper {
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .seamless-connectivity-with-no-parent {
    gap: 33px;
    min-width: 100%;
  }
  .container-wrapper {
    min-width: 100%;
  }
  .frame-group {
    gap: 28px;
  }
  .gomoworld-website-imagefiles-d-icon {
    min-width: 100%;
  }
  .background1,
  .background2 {
    padding-top: 41px;
    padding-bottom: 116px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .background2 {
    padding-top: 175px;
    padding-bottom: 174px;
  }
  .gomoworld-website-imagefiles-d {
    padding: 174px 35px 175px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .frame-parent {
    gap: 40px;
  }
  .background {
    gap: 15px;
  }
  .background-wrapper {
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .seamless-connectivity-with {
    font-size: 32px;
    line-height: 41px;
  }
  .heading-3 {
    font-size: 19px;
    line-height: 25px;
  }
  .coonect,
  .go {
    font-size: 29px;
    line-height: 11px;
  }
  .frame-parent {
    gap: 20px;
  }
}
