.get-ready-to2,
.heading-214 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.heading-214 {
  align-self: stretch;
  letter-spacing: -2px;
  line-height: 68px;
}
.get-ready-to2 {
  margin: 0;
  width: 367.7px;
  font-size: 15.2px;
  letter-spacing: -0.5px;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.heading-2-gosave-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.9px;
  max-width: 100%;
}
.button9 {
  width: 122.8px;
  height: 54px;
}
.background-inner9,
.frame-parent27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent27 {
  align-self: stretch;
  gap: 43.7px;
}
.background-inner9 {
  width: 465px;
  padding: 23.7px 0 0;
  box-sizing: border-box;
  min-width: 465px;
  flex-shrink: 0;
}
.overlay-icon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 24px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading-215 {
  width: 227.2px;
  position: relative;
  line-height: 27.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.heading-2-here-we-gomoworld-container {
  width: 466px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 2px;
  box-sizing: border-box;
  max-width: 100%;
}
.from9 {
  width: 41.3px;
  position: relative;
  line-height: 20.7px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 41.3px;
  z-index: 1;
}
.from-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 20px 9.1px;
}
.b9,
.frame,
.from-frame {
  display: flex;
  justify-content: center;
}
.b9 {
  width: 109.9px;
  position: relative;
  line-height: 8.2px;
  font-weight: 700;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 20px;
}
.special-offers-for1 {
  align-self: stretch;
  position: relative;
  font-size: 13.5px;
  line-height: 21px;
  z-index: 1;
}
.frame-parent29 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32.5px;
  font-size: 21px;
}
.button10 {
  align-self: stretch;
  width: 139.9px;
  z-index: 1;
}
.button-wrapper2 {
  align-self: stretch;
  height: 61.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.frame-parent28 {
  width: 464.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 23.3px;
  max-width: 100%;
  font-size: 14.2px;
}
.article3,
.background29 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.article3 {
  width: 658px;
  border-radius: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 39.2px 20px 37.1px;
  position: relative;
  gap: 32.4px;
  background-image: url(/public/overlay1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 658px;
  flex-shrink: 0;
  text-align: center;
  font-size: 18.8px;
}
.background29 {
  align-self: stretch;
  background-color: #9f0132;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 64px 375px 96px;
  gap: 31px;
  text-align: left;
  font-size: 54.1px;
  color: #fff;
  font-family: Montserrat;
}
@media screen and (max-width: 1800px) {
  .background-inner9 {
    flex: 1;
  }
  .article3 {
    flex: 1;
    min-width: 100%;
  }
  .background29 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .background-inner9 {
    min-width: 100%;
  }
  .background29 {
    padding-left: 187px;
    padding-right: 187px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .heading-214 {
    font-size: 43px;
    line-height: 54px;
  }
  .article3 {
    gap: 16px;
  }
  .background29 {
    gap: 15px;
    padding: 42px 93px 62px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-214 {
    font-size: 32px;
    line-height: 41px;
  }
  .frame-parent27 {
    gap: 22px;
  }
  .b9 {
    font-size: 17px;
    line-height: 39px;
  }
  .frame-parent29 {
    gap: 16px;
  }
}
