.vector-icon {
  height: 48px;
  width: 82.4px;
  position: relative;
}
.everselink {
  text-decoration: none;
  position: relative;
  line-height: 17px;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.everselink-wrapper,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.everselink-wrapper {
  flex-direction: column;
  padding: 15.5px 0 0;
}
.vector-parent {
  flex-direction: row;
  gap: 10px;
  max-width: 100%;
}
.item-link28 {
  text-decoration: none;
  width: 41.7px;
  position: relative;
  line-height: 16px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 41.7px;
}
.item-link29 {
  font-size: 12.9px;
  display: inline-block;
  min-width: 91.2px;
}
.item-link29,
.item-link30,
.item-link31,
.item-link32 {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  font-weight: 700;
  color: inherit;
}
.item-link30 {
  font-size: 12.1px;
  display: inline-block;
  min-width: 94.4px;
  white-space: nowrap;
}
.item-link31,
.item-link32 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.item-link31 {
  width: 32.8px;
  font-size: 13.1px;
  min-width: 32.8px;
  white-space: nowrap;
}
.item-link32 {
  width: 37.7px;
  font-size: 13px;
  min-width: 37.7px;
}
.item-link-home-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-wrapper1 {
  width: 397.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.6px;
}
.en {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 36px;
  color: inherit;
}
.frame-parent4,
.frame-wrapper2 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 10.3px;
}
.frame-wrapper2 {
  width: 64.3px;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0 0;
  box-sizing: border-box;
}
.button {
  height: 54px;
  flex: 1;
}
.background17,
.frame-parent2,
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent3 {
  width: 250.3px;
  justify-content: flex-start;
  gap: 25.5px;
  text-align: left;
  font-size: 11.6px;
}
.background17,
.frame-parent2 {
  max-width: 100%;
}
.frame-parent2 {
  width: 784px;
  justify-content: space-between;
  gap: 20px;
  font-size: 12.8px;
}
.background17 {
  align-self: stretch;
  background-color: #9f0132;
  justify-content: center;
  padding: 24px 20px 24px 71px;
  box-sizing: border-box;
  gap: 116px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: 39.7px;
  color: #fff;
  font-family: Montserrat;
}
@media screen and (max-width: 1200px) {
  .item-link-home-parent {
    display: none;
  }
  .frame-wrapper1 {
    width: 0;
  }
  .background17 {
    padding-left: 35px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent3 {
    display: none;
  }
  .frame-parent2 {
    width: 533.6999999999971px;
  }
  .background17 {
    gap: 58px;
  }
}
@media screen and (max-width: 450px) {
  .background17 {
    gap: 29px;
  }
}
