.heading-11 {
  align-self: stretch;
  position: relative;
  letter-spacing: -2px;
  line-height: 62.1px;
}
.experience-the-freedom {
  margin: 0;
  width: 640px;
  position: relative;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.experience-the-freedom-of-conn-wrapper {
  width: 944.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 15.3px;
  color: #292929;
}
.form-input {
  border: 0;
  background-color: transparent;
  height: 52px;
  width: 668.7px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12.6px;
  color: #515151;
  max-width: 100%;
}
.form-input-wrapper {
  width: 943.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.heading-1-get-connected-whe-parent {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31.6px;
  max-width: 100%;
}
.canadapng-icon,
.frame-wrapper5 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.canadapng-icon {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading-24 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 71.8px;
}
.heading-2-canada-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.from2 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 25.7px;
}
.b2,
.from2,
.icon2 {
  position: relative;
}
.b2 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 62.9px;
  white-space: nowrap;
}
.icon2 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-frame,
.parent1 {
  display: flex;
  align-items: flex-start;
}
.icon-frame {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-container {
  flex: 1;
  flex-direction: column;
}
.from-container,
.link-inner1,
.link12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-inner1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.link12 {
  height: 361.1px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: 1px 0 25px;
  gap: 15.5px;
  max-width: 100%;
  font-size: 19.7px;
}
.indiapng-icon,
.link-parent {
  align-self: stretch;
  max-width: 100%;
}
.link-parent {
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(247px, 1fr));
}
.indiapng-icon {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading-25 {
  flex: 1;
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
}
.heading-2-india-wrapper {
  width: 75.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
  box-sizing: border-box;
}
.from3 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 25.7px;
}
.b3,
.from3,
.icon3 {
  position: relative;
}
.b3 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 62.9px;
  white-space: nowrap;
}
.icon3 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper1,
.parent2 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-parent1,
.link-inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-parent1 {
  flex: 1;
  flex-direction: column;
}
.link-inner2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.link13,
.mexicopng-icon {
  max-width: 100%;
  overflow: hidden;
}
.link13 {
  height: 361.1px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 1px 25.1px;
  gap: 15.4px;
}
.mexicopng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.heading-26 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 66.5px;
}
.heading-2-mexico-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.from4 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 25.7px;
}
.b4,
.from4,
.icon4 {
  position: relative;
}
.b4 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 62.9px;
  white-space: nowrap;
}
.icon4 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper2,
.parent3 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper2 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-parent2,
.link-inner3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-parent2 {
  flex: 1;
  flex-direction: column;
}
.link-inner3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.japanpng-icon,
.link14 {
  max-width: 100%;
  overflow: hidden;
}
.link14 {
  height: 361.1px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 25.1px;
  gap: 15.4px;
  font-size: 19.5px;
}
.japanpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.heading-27 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 51.2px;
}
.heading-2-japan-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.from5 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 25.7px;
}
.b5,
.from5,
.icon5 {
  position: relative;
}
.b5 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 62.9px;
  white-space: nowrap;
}
.icon5 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper3,
.parent4 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-parent3 {
  flex: 1;
  flex-direction: column;
}
.from-parent3,
.link-inner4,
.link15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-inner4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.link15 {
  height: 361.1px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: 1px 0 25.1px;
  gap: 15.4px;
  max-width: 100%;
  font-size: 17.8px;
}
.link-group,
.perupng-icon {
  align-self: stretch;
  max-width: 100%;
}
.link-group {
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(247px, 1fr));
  font-size: 17.3px;
}
.perupng-icon {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading-28 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 41px;
}
.heading-2-peru-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.from6 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 25.7px;
}
.b6,
.from6,
.icon6 {
  position: relative;
}
.b6 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 62.9px;
  white-space: nowrap;
}
.icon6 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper4,
.parent5 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper4 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-parent4,
.link-inner5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-parent4 {
  flex: 1;
  flex-direction: column;
}
.link-inner5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.link16,
.thailandpng-icon {
  max-width: 100%;
  overflow: hidden;
}
.link16 {
  height: 361.1px;
  width: 329px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 1px 25px;
  gap: 15.5px;
  min-width: 313px;
}
.thailandpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.heading-29 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 76.1px;
}
.heading-2-thailand-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.from7 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 25.7px;
}
.b7,
.from7,
.icon7 {
  position: relative;
}
.b7 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 62.9px;
  white-space: nowrap;
}
.icon7 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper5,
.parent6 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper5 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent6 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-parent5,
.link-inner6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-parent5 {
  flex: 1;
  flex-direction: column;
}
.link-inner6 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.link17 {
  height: 361.1px;
  width: 329px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 1px 1px 25px;
  gap: 15.5px;
  min-width: 313px;
  font-size: 18.6px;
}
.frame-parent11,
.link-container,
.link17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.link-container {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 28px;
  min-height: 752px;
  font-size: 18px;
}
.frame-parent11 {
  width: 1048px;
  flex-direction: column;
  padding: 0 0 53px;
  box-sizing: border-box;
  gap: 30px;
  text-align: left;
  font-size: 18.9px;
  color: #292929;
}
.button2 {
  align-self: stretch;
  width: 263.5px;
}
.button-container,
.frame-parent10 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.button-container {
  width: 1047.8px;
  height: 55.2px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.frame-parent10 {
  width: 1076px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 58px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  text-align: center;
  font-size: 53.7px;
  color: #9f0132;
  font-family: Montserrat;
}
@media screen and (max-width: 1350px) {
  .frame-parent11 {
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .heading-11 {
    font-size: 43px;
    line-height: 50px;
  }
  .heading-1-get-connected-whe-parent {
    gap: 16px;
  }
  .link-group,
  .link-parent {
    gap: 15px;
    justify-content: center;
    grid-template-columns: minmax(247px, 1fr);
  }
  .frame-parent11 {
    padding-bottom: 22px;
    box-sizing: border-box;
  }
  .frame-parent10 {
    gap: 29px;
  }
}
@media screen and (max-width: 450px) {
  .heading-11 {
    font-size: 32px;
    line-height: 37px;
  }
  .frame-parent11 {
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
