.sign-in-desktop-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 896px;
  right: -1920px;
  bottom: -896px;
  left: 1920px;
  background-color: #545454;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.sign-in1 {
  height: 624px;
  flex: 1;
  border-radius: 24px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 692px;
}
.sign-in-to,
.sign-in3 {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.sign-in3 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.sign-in-to {
  font-size: 16px;
  color: #1c1c1c;
}
.sign-in-group {
  width: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.username {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Montserrat;
  color: #262626;
  text-align: center;
  display: inline-block;
  min-width: 84px;
}
.frame-child {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.username-parent {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px 7px 10px;
  gap: 20px;
}
.frame-item {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  color: #262626;
}
.button2 {
  align-self: stretch;
  flex: 1;
}
.frame-parent6 {
  margin: 0;
  width: 333px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
  max-width: 100%;
}
.or-sign-in {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 117px;
}
.frame-child1,
.frame-icon,
.frame-inner {
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 45px;
}
.frame-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.sign-in-parent,
.sign-in2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.sign-in2 {
  height: 603px;
  width: 595px;
  border-radius: 24px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: 92px 20px;
  box-sizing: border-box;
  gap: 36px;
  min-width: 595px;
}
.sign-in-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 44px;
}
.sign-in-desktop,
.sign-in-desktop-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sign-in-desktop-inner {
  width: 1724px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  z-index: 1;
}
.sign-in-desktop {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 137px 20px 115px 44px;
  position: relative;
  text-align: center;
  font-size: 24px;
  color: #262626;
  font-family: Montserrat;
}
@media screen and (max-width: 1450px) {
  .sign-in2 {
    flex: 1;
  }
  .sign-in-parent {
    flex-wrap: wrap;
  }
  .sign-in-desktop {
    padding-left: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .sign-in-desktop {
    padding-top: 89px;
    padding-bottom: 75px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .sign-in1,
  .sign-in2 {
    min-width: 100%;
  }
  .sign-in2 {
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  .sign-in-parent {
    gap: 22px;
  }
}
@media screen and (max-width: 450px) {
  .sign-in3 {
    font-size: 19px;
    line-height: 26px;
  }
  .button2 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .sign-in2 {
    gap: 18px;
  }
  .sign-in-desktop {
    padding-top: 58px;
    padding-bottom: 49px;
    box-sizing: border-box;
  }
}
